<nav class="">
  <div class="div1">
    <div class="logo">Logo Space</div>
    <div class="page-links">
      <a href="#" class="">Início</a>
      <a href="#" class="">Cursos</a>
      <a href="#" class="">Sobre</a>
    </div>
  </div>
  <div class="div2 flex items-center">
    <div class="div2-div1">
      <input type="text" class="search-bar" placeholder="Search...">
      <p>
        <button class="absolute right-0 top-0 mt-1 mr-2">

        </button>
      </p>
    </div>
    <button class="ml-4">
      <img src="../../../assets/img/icons/Profile.svg" alt="">
    </button>
  </div>
</nav>
