@use "../../../assets/styles/utility-classes" as *;

.holder-card{
    max-width: 33,33%;
    min-width: 25rem;
    min-height: 25rem;
    max-height: 40%;
}

.card-bg{
    background-color: var(--card-bg);
    box-shadow: 0px 4px 20px 0px rgba(177, 177, 177, 0.75);
}

input {
    border-radius: 0.78125rem;
    border: 1.812px solid var(--CTA-Colors-Strokes-Shadow-Mode-2, #1B1B1B);
    background-color: transparent;
    height: 3rem;
    padding: 0.4rem;
    margin-top: 0.2rem;
}

.forgot {
    color: var(--Text-Colors-Body-Link-Text, #376195);
}

button{
    border-radius: 0.78125rem;
    padding: 0.5rem;;
}

.right-button {
    background: var(--CTA-Colors-CTA-BG-CTA-Blue-BG, #223D5D);
    color: var(--white01-500);
}

.left-button {
    background: var(--CTA-Colors-CTA-BG-CTA-Blue-BG, #223D5D);
    color: var(--white01-500);
}

.error-message{
    color: #FF392E;
}

.response-message{
    color: var(--cta02-green-500, #267131);
}