  .card {
    border-radius: 1.875rem;
    background: var(--Card-Colors-Card-BG, #FCFAF8);
    width: 17rem;
    height: 20rem;
  }
  
  .card-icon svg {
    width: 3rem;
    height: 3rem;
  }
  
  .card-title {
    font-size: 1.2em;
    margin: 8px 0;
  }
  
  .card-details {
    font-size: 0.9em;
  }
  
  button{
    background-color: transparent;
    color: var(--cta-text-dark);
    padding: 10px;
    border: 1px solid var(--black01-500);
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    transition: all 0.3s;
}
  