@use "../../../assets/styles/utility-classes" as *;

main{
    p{
        color: var(--body-text);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .span{
        color: var(--body-text);
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-block: 0.8em;
    }

    button{
        color: var(--cta-text-dark);
        padding: 10px;
        border: 1px solid var(--black01-500);
        border-radius: 0.625rem;
        cursor: pointer;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 10px;
        transition: all 0.3s;
    }

    .meet {
        background-color: var(--cta-green-bg);
        color: var(--body-text-shadow);
        border: 2px solid var(--cta-green-bg);
    }

    .certificate {
        background-color: var(--bg);
        border: 2px solid var(--cta-green-bg);
        color: var(--cta-text-green);
    }
}