<div class="divPagina">
  <section class="sec1">
    <div class="divDescricao">
      <h2 id="title">Title</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div>
      <img id="imgEx" src="/assets/img/catalogImgEx.png">
    </div>
  </section>

  <div>
    <div class="navBar">
      <nav>
        <form class="formNav">
          <input class="inputNav" type="text" placeholder="Search..." aria-label="Pesquisar">
          <button class="btnForm" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>
        </form>
      </nav>
    </div>

    <div class="filtro">
      <ul class="lista">
        <li class="opcao">
          <select>
            <option>Ordenar por</option>
            <option></option>
            <option></option>
          </select>
        </li>
        <li class="opcao">
          <select>
            <option>Temas</option>
            <option></option>
            <option></option>
          </select>
        </li>
        <li class="opcao">
          <select>
            <option>Classificação</option>
            <option></option>
            <option></option>
          </select>
        </li>
      </ul>
    </div>
  </div>

  <section class="sec2">
    <h1>CURSOS DISPONÍVEIS</h1>
    <div class="divCard">
      <app-cards></app-cards>
    </div>
  </section>


</div>