<footer class="footer">
  <div class="talkWithUs">
    <p class="talkWithUsP">Fale Conosco</p>
    <p class="talkWithUsStext">E-mail</p>
    <p class="talkWithUsStext">Pagina de Contato</p>
    <!-- <a class="talkWithUsA" href="https://www.fumec.br">FUMEC</a> -->
  </div>

  <div class="social">
    <a href="../"><img class="socialIcon" src="../../../assets/img/icons/" alt="Instagram"></a>
    <a href="../"><img class="socialIcon" src="../" alt="Facebook"></a>
    <a href="../"><img class="socialIcon" src="../" alt="YouTube"></a>
  </div>
</footer>
