.course-progress {
    font-family: 'Open Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .progress {
    height: 20px;
    background-color: var(--Elements-Colors-Blue-Element, #223D5D);
    width: 0;
  }
  
  .progress-bar span {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #000;
  }

  .module h2 {
    border-radius: 1.25rem;
    background: var(--Card-Colors-Card-BG, #FCFAF8);
    padding: 1.5rem;
  }
  
  .module ul {
    list-style-type: none;
    padding: 0;
  }
  
  .module button {
    width: 100%;
    text-align: left;
    text-indent: 0.4rem;
    padding: 1rem;
    border-radius: 1.25rem;
    background: var(--Card-Colors-Card-BG, #FCFAF8);
    cursor: pointer;
  }
  
  .module button:hover {
    background-color: #ddd;
  }
  
  .video-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    height: 30rem;
  }

  
  .lesson-description ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lesson-description li {
    margin: 5px 0;
  }
  
  .resources-button {
    border-radius: 0.625rem;
    border: 1px solid var(--CTA-Colors-Strokes-Shadow-Mode, #1B1B1B);
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 600;
  }
  
  .resources-button:hover {
    background-color: #45a049;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }

  .previous-button {
    border-radius: 0.625rem;
    border: 1px solid var(--CTA-Colors-Strokes-Shadow-Mode-2, #1B1B1B);
    padding: 10px 20px;
    font-weight: 600;
  }
  
  .next-button {
    border-radius: 0.625rem;
    border: 1px solid var(--CTA-Colors-CTA-BG-CTA-Green-BG, #267131);
    background: var(--CTA-Colors-CTA-BG-CTA-Green-BG, #267131);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
  
  .previous-button:hover,
  .next-button:hover {
    background-color: #45a049;
  }

  .next-button:disabled {
    background-color: #153f1b;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .previous-button:disabled {
    background-color: #e0e0e0;
    opacity: 0.4;
    cursor: not-allowed;
  }
  