<svg class="absolute -z-10 right-0 top-0" xmlns="http://www.w3.org/2000/svg" width="678" height="430" viewBox="0 0 678 430" fill="none">
    <path d="M718.46 -13V429.59C648.03 350.09 579.81 260.15 507.64 229.35C385 179.1 229.38 238.94 120.75 163C70.2401 127.49 36.7501 55.19 0.560059 -13H718.46Z" fill="#B77938"/>
</svg>

<header>
    <app-header [param]="param"></app-header>
</header>

<main class="flex flex-1 h-full flex-row flex-wrap justify-center items-center gap-8 md:gap-0 p-4">
    <div class="flex md:justify-start justify-center items-center flex-col gap-4 w-full md:w-1/2">
        <div class="flex justify-center items-center w-full gap-8">
            <div class="bg-area-card w-32 h-32 flex justify-center items-center rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="87" viewBox="0 0 68 87" fill="none">
                    <path d="M49.8708 18.625C49.8708 22.769 48.2246 26.7433 45.2944 29.6735C42.3641 32.6038 38.3898 34.25 34.2458 34.25C30.1018 34.25 26.1275 32.6038 23.1973 29.6735C20.267 26.7433 18.6208 22.769 18.6208 18.625C18.6208 14.481 20.267 10.5067 23.1973 7.57646C26.1275 4.6462 30.1018 3 34.2458 3C38.3898 3 42.3641 4.6462 45.2944 7.57646C48.2246 10.5067 49.8708 14.481 49.8708 18.625ZM3 77.45C3.13389 69.2515 6.48474 61.434 12.3299 55.6835C18.1751 49.933 26.0462 46.7103 34.2458 46.7103C42.4455 46.7103 50.3166 49.933 56.1618 55.6835C62.0069 61.434 65.3578 69.2515 65.4917 77.45C55.6891 81.9449 45.0298 84.2646 34.2458 84.25C23.0958 84.25 12.5125 81.8167 3 77.45Z" stroke="#223D5D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="p-area-card text-base">Dados Básicos</p>
        </div>

        <form class="flex flex-col justify-center items-center">
            <div class="flex flex-col justify-center items-center">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="flex flex-col justify-center items-center">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="flex flex-col justify-center items-center">
                <label for="phone">Telefone</label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <button type="submit">Salvar Dados</button>
        </form>
    </div>

    <div class="flex  md:justify-start justify-center items-center flex-col gap-4 w-full md:w-1/2">
        <div class="flex justify-center items-center w-full gap-8">
            <div class="bg-area-card w-32 h-32 flex justify-center items-center rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="87" viewBox="0 0 68 87" fill="none">
                    <path d="M53 37.375V21.75C53 16.7772 51.0246 12.0081 47.5082 8.49175C43.9919 4.97544 39.2228 3 34.25 3C29.2772 3 24.5081 4.97544 20.9917 8.49175C17.4754 12.0081 15.5 16.7772 15.5 21.75V37.375M12.375 84.25H56.125C58.6114 84.25 60.996 83.2623 62.7541 81.5041C64.5123 79.746 65.5 77.3614 65.5 74.875V46.75C65.5 44.2636 64.5123 41.879 62.7541 40.1209C60.996 38.3627 58.6114 37.375 56.125 37.375H12.375C9.8886 37.375 7.50403 38.3627 5.74587 40.1209C3.98772 41.879 3 44.2636 3 46.75V74.875C3 77.3614 3.98772 79.746 5.74587 81.5041C7.50403 83.2623 9.8886 84.25 12.375 84.25Z" stroke="#223D5D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="p-area-card">Senha</p>
        </div>

        <form class="flex flex-col justify-center items-center">
            <div class="flex flex-col justify-center items-center">
                <label for="password">Senha Atual</label>
                <input type="password" id="password" name="password">
            </div>

            <button>Alterar Senha</button>

            <svg class="mt-4 mb-4" xmlns="http://www.w3.org/2000/svg" width="204" height="3" viewBox="0 0 204 3" fill="none">
                <path d="M2 1.25H202" stroke="#CCCCCC" stroke-width="2.5" stroke-linecap="round"/>
            </svg>

            <div class="flex flex-col justify-center items-center">
                <label for="newPassword">Nova Senha</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>

            <div class="flex flex-col justify-center items-center">
                <label for="confirmPassword">Confirmar Nova Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</main>

<svg class="absolute -z-10 -bottom-1 hidden md:block left-0 w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="775" height="436" viewBox="0 0 775 436" fill="none">
    <path d="M645 396.61C690.61 410.1 733.48 429.61 774.66 452.79H-17.72V0C33.78 30 74.83 78.1 111.03 126.48C156.41 187.11 199.23 252.23 261.89 294.74C372 369.51 517.4 358.82 645 396.61Z" fill="#B77938"/>
</svg>