<app-main-carousel></app-main-carousel>

<section class="sec1">
    <div class="introduction">
        <img src="\assets\images\img-home.jpg" alt="">
        <p class="text-introduction">
            Lorem ipsum dolor sit amet consectetur. Donec fermentum sit vitae tincidunt pharetra etiam. A sollicitudin sit
            vulputate sed etiam vulputate feugiat sollicitudin nisl. Consequat velit venenatis eget elit bibendum turpis
            odio viverra. Enim risus ante condimentum lectus vitae ut suspendisse tristique congue. Nec facilisis sed etiam
            risus egestas purus ipsum eget dictum. Augue vivamus felis velit faucibus. Tincidunt faucibus in aliquet aliquam
            vehicula. In quam turpis vestibulum ac nunc nisl. Habitant massa nisl feugiat volutpat. Vitae sit aenean aliquam
            cursus consequat aliquet ut est. Dictum dignissim arcu tellus consequat fermentum tristique.
        </p>
    </div>
</section>

<section class="sec2">
    <div class="news-carousel">
        <h3 class="title-2">NOVIDADES</h3>
        <app-carousel></app-carousel>
    </div>
</section>

<section class="sec3">
    <div class="feat-courses">
        <h3 class="title-3">CURSOS EM DESTQUE</h3>

        <div class=cards-area>
            <div class="card" *ngFor="let course of courses">
                <img src="" alt="">
                <div class="info">
                    <h5 class="title-card">{{course.name}}</h5>
                    <p class="info-card">{{course.desc}}</p>
                </div>
                <button class="btn-info">Informações</button>
            </div>
        </div>
    </div>
</section>


