button{
    background-color: transparent;
    color: var(--cta-text-dark);
    padding: 10px;
    border: 1px solid var(--black01-500);
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    transition: all 0.3s;
}

a {
    font-weight: 500;
}

.links {
    padding-right: 8%;
}

.is-active {
    color: var(--navbar-active-link02-light);
    font-weight: 650;
}