.searchInput {
    border-radius: 0.78125rem;
    border: 1.5px solid var(--Text-Colors-Body-Common-Text, #1B1B1B);
}

.verify {
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid var(--CTA-Colors-Strokes-Shadow-Mode, #1B1B1B);
}