<div class="carousel">
    <div class="slides">
        <div class="slide">
            <img src="" alt="">
            <div class="info">
                <h5>{{slides[index1].title}}</h5>
                <p>{{slides[index1].info}}</p>
            </div>
        </div>
        <div class="slide">
            <img src="" alt="">
            <div class="info">
                <h5>{{slides[index2].title}}</h5>
                <p>{{slides[index2].info}}</p>
            </div>
        </div>
        <div class="slide">
            <img src="" alt="">
            <div class="info">
                <h5>{{slides[index3].title}}</h5>
                <p>{{slides[index3].info}}</p>
            </div>
        </div>
    </div>
</div>